
<form [formGroup]="myReactiveForm" (submit)="onSubmit()">
  <h3 class="first">{{getTranslation('user_registration_form')}}</h3>

  <div class="form-group">
    <input type="text" pInputText placeholder="Username" formControlName="userName" class="form-control">
    <app-validation-errors [control]="myReactiveForm.get('userName')"></app-validation-errors>
  </div>

  <div class="form-group">
    <input type="text" pInputText placeholder="Email" formControlName="userEmail" class="form-control">
    <app-validation-errors [control]="myReactiveForm.get('userEmail')"></app-validation-errors>
  </div>

  <div class="form-group">
    <input
      type="password"
      pInputText
      pPassword
      [weakLabel]="weakPasswordText"
      formControlName="userPassword"
      class="form-control"
      placeholder="password">
    <app-validation-errors [control]="myReactiveForm.get('userPassword')"></app-validation-errors>
  </div>

  <button type="submit" class="btn btn-info">Register</button>
</form>

